body {
    font-weight: bold;
}

.jumbotron {
    background-color: #223256;
}

#jumbotronHeader {
    color: #ffffff;
}

.card-header {
    background-color: #223256;
    color: #ffffff;
}

.articleTitle {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #223256;
}

.author {
    font-size: 80%;
    font-weight: normal;
}